@font-face {
    font-family: LauranScript;
    src: url(/fonts/LaurenScript.ttf);
}
.titleLogo {
    font-family: LauranScript;
    color: #fff;
    font-size: 72px;
}
.bigHeaderRed{
    background: #ff3600; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3600 0%, #ce2700 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3600), color-stop(100%,#ce2700)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3600 0%,#ce2700 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3600 0%,#ce2700 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3600 0%,#ce2700 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3600 0%,#ce2700 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3600', endColorstr='#ce2700',GradientType=0 ); /* IE6-9 */
    min-height:400px;
}
